body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}


.top {
    background-color: #006a7f;
    color:  white;
    padding: 0 150px 70px;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration:none;
}

.header-links a,
.destaque p{
    font-size: 18px;
    color: #e5e7eb;
}

.under-header {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 50px 0;
}

.destaque h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.under-header img{
    max-width: 300px;
    height: auto;
    background-color: #8398a4;
    flex-shrink: 0;
    align-self: center;
    padding: 30px;
    border-radius: 10px;
}

.destaque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destaque p {
    margin: 0;
}

button {
    background-color: #65c1c2;
    padding: 5px 30px;
    border-radius: 5px;
    border: 0;
    margin: 5px 0;
}

.destaque button a{
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
}

.team-section {
    padding: 70px 150px 70px;
}

.team-section h2 {
    background-color: #ffffff;
    text-align: center;
    color: #006a7f;
    font-size: 36px;
    font-weight: bold;
}

.team-components img {
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #65c1c2;
    border-radius: 5px;
}

.team-components {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 150px;
}

.person p {
    text-align: center;
    color: #8398a4;
}

.relate-section {
    display: flex;
    flex-direction: column;
    padding: 70px 150px;
    background-color: #93bfc0;
}

.relate-section .relate {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.relate-section .author {
    margin: 20px 0;
    align-self: flex-end;
    font-weight: bolder;
}

.message-section {
    padding: 75px 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.message-box {
    background-color: #006a7f;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
}

.message-box .singup-button {
    flex-shrink: 0;
    align-self: center;
}

.message-box .singup-button button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.message-box .singup-button a {
    text-decoration: none;
    color: #ffffff;
}

.message-section .message-box .message {
    flex: 1;
}

.message-box h4,
.message-box p {
    margin: 0 15px;
}

.footer {
    background-color: #1f2937;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}